form
{
    width: 50%;
    max-width: 60vw;

    margin: auto;
}

.hbox
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.hbox > *
{
    margin-left: 1em;
}

.hbox > *:first-child
{
    margin-left: 0;
}

.vbox
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.vbox > *
{
    margin-bottom: 1em;
}

.vbox > *:last-child
{
    margin-bottom: 0;
}

input
{
    width: 100%;
    max-width: 60vw;
    min-width: 10em;

    padding: 0.5em;

    border: solid 1px gray;
    border-radius: 5px;

    transition: box-shadow 0.5s, border-color 0.5s;
}

input:hover
{
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.651);
}

input:focus
{
    border-color: rgb(197, 92, 54);
}

button, .button
{
    padding: 0.5em;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background-color: rgb(13, 90, 161);

    border-radius: 8px;
    border: none;

    transform: scale(1);

    transition: transform 0.3s;
}

button.disabled, .button.disabled
{
    background-color: rgb(82, 82, 82);
}

button.highlighted, .button.highlighted
{
    background-color: rgb(34, 95, 34);
}

button:hover, .button:hover
{
    cursor: pointer;
    transform: scale(1.1);
}



table, td
{
    border-collapse: collapse;
}

td
{
    padding: 0.5em 1em;
    text-align: left;
}

tr:nth-child(even), thead td
{
    background-color: rgb(245, 245, 245);
}

tr:nth-child(odd)
{
    background-color: rgb(211, 211, 211);
}

thead td
{
    font-weight: bold;
}



table.flat-table, table.flat-table td
{
    border: none;
}

table.flat-table tr
{
    border-bottom: solid 2px rgb(161, 161, 161);
    /*padding: 0.5em;*/
}

table.flat-table tr:nth-child(even)
{
    background-color: rgb(241, 241, 241);
}

table.flat-table tr:nth-child(odd)
{
    background-color: rgb(230, 230, 230);
}

table.flat-table thead, table.flat-table thead *
{
    background-color: transparent !important;
    border: none;
}

table.flat-table thead
{
    position: sticky;
    top: 0;
    z-index: 99;

    background-color: white !important;
}