.circle
{
    border-radius: 100%;
    width: 4em;
}

html
{
    /*background: url("/chenco_NAZCA_logo.png") center fixed no-repeat;*/
}

body
{
    min-height: 100vh;

    margin : 0px;
    padding: 0px;

    font-family: Helvetica;

    color: rgb(95, 95, 95);

    /*background-color: rgba(255, 255, 255, 0.897);
    opacity: 0.98;*/
}

table 
{
    width: 75%;
    margin: auto;
}

td.id
{
    width: 2em;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5em 3em;

    border-bottom: solid 1px rgb(200, 200, 200);
    background-color: rgb(238, 238, 238);
}

header h1
{
    font-size: 1.2em;

    margin: 0;
    margin-left: 1em;

    color: rgb(119, 119, 119);
}

header #logo
{
    width: 10em;
}

header #main-title
{
    display: flex;
    align-items: center;
}

table tr button
{
    font-size: 1.2em;
    padding: 0.3em;
}

footer
{
    width: 100%;

    margin-top: 5em;
}

footer .container
{
    padding: 2em;

    background-color: rgb(219, 219, 219);
}

.hnav
{
    display: flex;
    flex-direction: row;

    list-style: none;
    margin: 0.5em;
    padding: 0;
}

.hnav li
{
    margin: 0;
    padding: 0;
}

.hnav li
{
    border-right: solid 1px rgb(200, 200, 200);
}

.hnav li:last-child
{
    border-right: none;
}

.hnav li a
{
    padding: 1em;

    text-transform: uppercase;
    text-decoration: none;

    color: rgb(136, 136, 136);

    transition: color 0.3s;
}

.hnav li a:hover
{
    color: rgb(68, 68, 68);
}

.main-content
{
    width: 80%;
    margin: auto;
}

.param-item, table#plist thead td:last-child
{
    display: flex;
    justify-content: space-between;
    align-content: center;

    line-height: 2em;
}

.param-item div *
{
    margin-left: 0.25em;
}

.edit-button, .delete-button
{
    width: 1.8rem;
    height: 1.8rem;

    padding: 0;

    vertical-align: middle;
}

.delete-button
{
    /*font-size: 2em;*/
}

.graph
{
    float: right;
    max-width: 50%;

    margin-left: 5em;
}

#params
{
    list-style: none;
    margin-bottom: 5em;
}

#btn-add
{
    display: block;

    width: 10em;

    font-size: 0.8em;
    text-align: center;
    line-height: 1.6em;
}

