.circle {
    border-radius: 100%;
    width: 4em;
}

body {
    margin : 0px;
    padding: 0px;
}

table {
    width: 100%;
}

table, td
{
    border-collapse: collapse;

    border: solid 1px rgb(41, 41, 41);
}

td
{
    padding: 0.2em 1em;
    text-align: center;
}

thead
{
    font-weight: bold;
    background-color: rgb(231, 185, 185);
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

header h1
{
    font-size: 2em;

    margin: 1em;
}

header #logo-pusher, header img#logo
{
    display: inline-block;
    vertical-align: middle;

    height: 100%;
}